* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-size: 50px;
  background-color: #f8b400;
  color: white;
  : 150;
}

h1 {
  margin-top: 10;
  margin-bottom: 20px;
}

nav ul {
  list-style:  nome;
  text-align: center;
}

nav ul {
  display: inline;
  margin: 0 15px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}