* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-size: 50px;
  background-color: #f8b400;
  color: white;
}

h1 {
  margin-top: 10;
  margin-bottom: 20px;
}

nav ul {
  list-style:  nome;
  text-align: center;

}